# Object files
*.o
*.ko
#*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

Errors/
glsl_to_c
.doxy/
shaders.h
shaders.cpp
gg
a.out
shader_externs.h
resource/*.blend
resource/FA-22_Raptor*
resource/Glass*
resource/Pilot*
Screenshots/
*.trace

resource/skybox/new/
resource/bolt.mtl
resource/bolt.obj
resource/castle.mtl
resource/castle.obj
resource/crystal.mtl
resource/crystal.obj
resource/diamond.mtl
resource/diamond.obj
resource/fernanda.mtl
resource/fernanda.obj
resource/girlfriends.mtl
resource/girlfriends.obj
resource/ice_dragon.mtl
resource/ice_dragon.obj
resource/kunoichi.mtl
resource/kunoichi.obj
resource/lara_croft.mtl
resource/lara_croft.obj
resource/miku.mtl
resource/miku.obj
resource/office_lady.mtl
resource/office_lady.obj
resource/raindrop_hq.mtl
resource/raindrop_hq.obj
resource/raindrop_lq.mtl
resource/raindrop_lq.obj
resource/skybox/new/
resource/sword_dancer.mtl
resource/sword_dancer.obj
resource/tarantula.mtl
resource/tarantula.obj
resource/thing.mtl
resource/thing.obj
resource/wierd_loopy_thing.mtl
resource/wierd_loopy_thing.obj
