# Object files
*.o
*.ko
#*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

Errors/
glsl_to_c
.doxy/
shaders.h
shaders.cpp
gg
a.out
shader_externs.h
resource/*.blend
resource/FA-22_Raptor*
resource/Glass*
resource/Pilot*
